version = 4

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '  '
    foreground = 'blue'
    type = 'text'
    style = 'plain'

  [[blocks.segments]]
    template = '{{ .HEAD }}{{ if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }} {{ .Working.String }}{{ end }}{{ if .Staging.Changed }} {{ .Staging.String }}{{ end }} '
    foreground = 'green'
    type = 'git'
    style = 'plain'

  [[blocks.segments]]
    template = '{{ .AbsolutePWD }}'
    foreground = 'blue'
    type = 'path'
    style = 'plain'

  [[blocks.segments]]
    template = ' {{ if ne .Code 0 }}✘ {{ .Code }} {{ end }}'
    foreground = 'red'
    type = 'exit'
    style = 'plain'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '❯ '
    foreground = 'green'
    type = 'text'
    style = 'plain'

[[blocks]]
  type = 'rprompt'

  [[blocks.segments]]
    template = '({{ .Venv }})'
    foreground = 'cyan'
    type = 'python'
    style = 'plain'
