@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    transition: 0.3s;
    font-size: 1.2rem;
}

.floating-notifications.background .notification-row {
    padding: 1rem;
}

.floating-notifications.background .notification-row .notification-background {
    border-radius: 0.5rem;
    background-color: @mantle;
    color: @text;
    border: 1px solid @overlay0;
}

.floating-notifications.background .notification-row .notification-background .notification {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
    border: 1px solid @red;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content
    .summary {
    margin: 0.5rem;
    color: @text;
    font-weight: bold;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content
    .body {
    margin: 0.5rem;
    color: @subtext1;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
    min-height: 3rem;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    border-radius: 0.5rem;
    color: @text;
    background-color: @surface0;
    border: 1px solid @overlay0;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background-color: @surface1;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background-color: @overlay0;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: @text;
    background-color: @red;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    color: @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
    background-color: @peach;
}

.control-center {
    border-radius: 0.5rem;
    margin: 1rem;
    background-color: @mantle;
    color: @text;
    padding: 1rem;
    border: 1px solid @overlay0;
}

.control-center .widget-title {
    color: @peach;
    font-weight: bold;
}

.control-center .widget-title button {
    border-radius: 0.5rem;
    color: @text;
    background-color: @surface0;
    border: 1px solid @overlay0;
    padding: 0.5rem;
}

.control-center .widget-title button:hover {
    background-color: @surface1;
}

.control-center .widget-title button:active {
    background-color: @overlay0;
}

.control-center .notification-row .notification-background {
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: @surface0;
    color: @text;
    border: 1px solid @overlay0;
}

.control-center .notification-row .notification-background .notification {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.control-center .notification-row .notification-background .notification.critical {
    border: 1px solid @red;
}

.control-center .notification-row .notification-background .notification .notification-content {
    color: @text;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
    margin: 0.5rem;
    color: @text;
    font-weight: bold;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
    margin: 0.5rem;
    color: @subtext1;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
    min-height: 3rem;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
    border-radius: 0.5rem;
    color: @text;
    background-color: @surface0;
    border: 1px solid @overlay0;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
    background-color: @surface1;
}

.control-center
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background-color: @overlay0;
}

.control-center .notification-row .notification-background .close-button {
    margin: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    color: @text;
    background-color: @red;
}

.control-center .notification-row .notification-background .close-button:hover {
    color: @base;
}

.control-center .notification-row .notification-background .close-button:active {
    background-color: @peach;
}

progressbar,
progress,
trough {
    border-radius: 0.5rem;
}

.notification.critical progress {
    background-color: @red;
}

.notification.low progress,
.notification.normal progress {
    background-color: @blue;
}

trough {
    background-color: @surface0;
}

.control-center trough {
    background-color: @surface1;
}

.control-center-dnd {
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.control-center-dnd slider {
    background: @surface1;
    border-radius: 0.5rem;
}

.widget-dnd {
    color: @subtext1;
}

.widget-dnd > switch {
    border-radius: 0.5rem;
    background: @surface1;
    border: 1px solid @overlay0;
}

.widget-dnd > switch:checked slider {
    background: @sapphire;
}

.widget-dnd > switch slider {
    background: @overlay0;
    border-radius: 0.5rem;
    margin: 0.25rem;
}

