/* Colors file */
@import "colors.css";
* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 11px;
  font-weight: normal;
  min-height: 0;
  margin: 0;
}

tooltip {
  background: rgba(0, 0, 0, 0.8);
  border: 1.5px solid @color5;
  border-radius: 7px;
  padding: 2px 100px;
}

/* COMMON CONFIGS */
#image,
#mpd *,
#taskbar *,
#quicklinks-right *,
#quicklinks-left * {
  border-radius: 7px;
  color: @foreground;
}

#clock,
#hardware,
#network,
#workspaces,
#pulseaudio,
#tray,
#taskbar,
#custom-weather,
#power-profiles-daemon,
#quicklinks-right,
#quicklinks-left {
  color: @foreground;
  border-radius: 7px;
  background: @background;
  padding: 3px 7px;
  margin: 1px 0px 0px 3px;
  opacity: 0.85;
}

#workspaces button {
  color: #ffffff;
  font-family: "JetbrainsMono Nerd Font";
  min-width: 20px;
  margin: 1px 3px 1px 3px;
  border-radius: 2px;
}
#workspaces button:hover {
  color: #ff0000;
}

#workspaces button.visible {
  color: #ffffff;
}

#workspaces button.focused {
  background-color: rgba(150, 0, 0, 0.8); /* Semi-transparent white */
}

#workspaces button.active {
  color: #000000; /* Sway palette: focused/text */
  background-color: rgba(250, 250, 250, 1); /* Semi-transparent white */
}

#workspaces button.urgent {
  color: #ff0000; /* Sway palette: urgent/text */
}

/* quicklinks  */
#quicklinks-right,
#quicklinks-left {
  background: @color1;
}
#quicklinks-right {
  margin-right: 2px;
}
#quicklinks-left {
  margin-left: 2px;
}
#quicklinks-right *,
#quicklinks-left * {
  padding: 0px 2px;
  transition: all 0.2s ease-in-out;
}
#quicklinks-right *:hover,
#quicklinks-left *:hover {
  background: @color11;
}

/* taskbar */
#taskbar {
  padding: 0px;
}
#taskbar * {
  margin: 1px 1px 1px 2px;
}
#taskbar *:hover {
  background: @color11;
}

/* power-menu */
#custom-power-menu {
  padding-right: 6px;
  padding-left: 4px;
}

#power-profiles-daemon.performance {
  padding-right: 5px;
  padding-left: 5px;
  color: #161320;
  background: #c44155;
}

#power-profiles-daemon.balanced {
  padding-right: 6px;
  padding-left: 4px;
  color: #161320;
  background: #d6c87b;
}

#power-profiles-daemon.power-saver {
  padding-right: 6px;
  padding-left: 4px;
  color: #161320;
  background: #9adc8e;
}

/* image */
#image {
  margin: 0px;
  padding: 0px;
}

#cava {
  /* background: @background; */
  background: rgba(0, 0, 0, 0.8);
}
