@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 10px;
    font-weight: normal;
    min-height: 16px;
    margin: 0px 0px 0px 0px;
}

tooltip {
    color: @text;
    background: @crust;
    border-radius: 3px;
}

tooltip label {
    color: white;
}

/*
 *╭─────────────────────────────────────╮
 *│           COMMON CONFIGS            │
 *╰─────────────────────────────────────╯
*/
#clock,
#hardware,
#idle_inhibitor,
#network,
#temperature,
#workspaces,
#wireplumber,
#bluetooth,
#battery,
#tray,
#backlight,
#taskbar,
#privacy,
#actions,
#quick-actions,
#custom-notification,
#custom-weather,
#custom-flathub,
#custom-themes,
#custom-aur,
#custom-power-menu,
#idle_inhibitor,
#bluetooth,
#power-profiles-daemon,
#custom-themes,
#custom-wallpaper,
#custom-flathub,
#custom-powermenu {
    transition: all 0.5s ease-in-out;
    border-radius: 2px;
    padding: 0px 2px 0px 0px;
    margin: 0px 2px 0px 0px;
    min-width: 18px;
}

/*
 *╭─────────────────────────────────────╮
 *│             Hover                   │
 *╰─────────────────────────────────────╯
*/
#bluetooth:hover,
#power-profiles-daemon:hover,
#custom-themes:hover,
#custom-wallpaper:hover,
#custom-flathub:hover,
#custom-powermenu:hover,
#custom-aur:hover,
#tray:hover,
#temperature:hover,
#network:hover,
#wireplumber:hover,
#hardware:hover,
#clock:hover,
#idle_inhibitor:hover,
#custom-notification:hover {
    /* background: @text; */
    color: @red;
}

/*
 *╭─────────────────────────────────────╮
 *│            Modules Left             │
 *╰─────────────────────────────────────╯
*/
#quick-actions,
#wheater,
#tray,
#taskbar,
#privacy {
    background: @surface0;
    border-radius: 2px;
    margin: 0px 6px;
}

/*
 *╭─────────────────────────────────────╮
 *│             Workspaces              │
 *╰─────────────────────────────────────╯
*/
#workspaces {
    background: @surface0;
    border-radius: 2px;
    padding: 0px 2px 0px 2px;
}

#workspaces button {
    color: @text;
    font-family: "JetbrainsMono Nerd Font";
    min-width: 18px;
    margin: 0px 0px 0px 0px;
}

#workspaces button.active {
    color: @red;
    background-color: @subtext2;
}

#workspaces button:hover {
    color: #ff0000;
}

#workspaces button.urgent {
    color: @red;
}

/*
 *╭─────────────────────────────────────╮
 *│            Modules Right            │
 *╰─────────────────────────────────────╯
*/

#temperature,
#network,
#backlight,
#wireplumber,
#hardware,
#clock,
#custom-notification {
    background: @surface0;
    border-radius: 2px;
    margin: 0px 4px;
    padding: 0px 2px;
}

/*
 *╭─────────────────────────────────────╮
 *│             quicklinks              │
 *╰─────────────────────────────────────╯
*/

#wireplumber.muted {
    color: @red;
}

/*
 *╭─────────────────────────────────────╮
 *│                 Idle                │
 *╰─────────────────────────────────────╯
*/
#idle_inhibitor.activated {
    color: @red;
}

#idle_inhibitor.deactivated {
    color: @green;
}

/*
 *╭─────────────────────────────────────╮
 *│               Privacy               │
 *╰─────────────────────────────────────╯
*/
#quicklinks-left *:hover {
    background: @color11;
}

#privacy-item.audio-in {
    color: @red;
}

#privacy-item.audio-out {
    color: @green;
}

#privacy-item.screenshare {
    color: @yellow;
}

/*
 *╭─────────────────────────────────────╮
 *│              Bluetooth              │
 *╰─────────────────────────────────────╯
*/
#bluetooth {
}

#bluetooth.connected {
    color: @yellow;
}

#bluetooth.disabled {
    color: @red;
}

/*
 *╭─────────────────────────────────────╮
 *│            Power Profile            │
 *╰─────────────────────────────────────╯
*/
#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.power-saver {
    color: @green;
}

/*
 *╭─────────────────────────────────────╮
 *│          Custom Wallpaper           │
 *╰─────────────────────────────────────╯
*/
#custom-wallpaper {
}

#custom-aur {
}

#custom-flathub {
}

/*
 *╭─────────────────────────────────────╮
 *│          Theme |Light|Dark          │
 *╰─────────────────────────────────────╯
*/
#custom-themes {
}

#custom-themes.light {
    color: @yellow;
}

#custom-themes.dark {
    color: @blue;
}

/*
 *╭─────────────────────────────────────╮
 *│               Battery               │
 *╰─────────────────────────────────────╯
*/
#battery {
}

#battery.good {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    text-shadow: 0 0 5px;
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.charging {
    color: @green;
}

@keyframes blink {
    from {
        color: @red;
    }
    to {
        color: transparent; /* Blinking effect by making the text disappear */
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*
 *╭─────────────────────────────────────╮
 *│           Custom Weather            │
 *╰─────────────────────────────────────╯
*/
#custom-weather {
    padding: 0px 8px;
}

/* Sunny */
#custom-weather.sol {
    color: @yellow;
    background: rgba(249, 226, 175, 0.2); /* yellow with transparency */
}

/* Rain */
#custom-weather.chuva {
    color: @blue;
    background: rgba(137, 180, 250, 0.2);
}

/* Light rain */
#custom-weather.chuva_fraca {
    color: @sky;
    background: rgba(137, 220, 235, 0.15);
}

/* Windy */
#custom-weather.vento {
    color: @teal;
    background: rgba(148, 226, 213, 0.2);
}

/* Partly cloudy */
#custom-weather.parcialmente_nublado {
    color: @overlay2;
    background: rgba(147, 153, 178, 0.15);
}

/* Clear sky */
#custom-weather.céu_limpo {
    color: @green;
    background: rgba(166, 227, 161, 0.2);
}

/* Chance of irregular rain */
#custom-weather.possibilidade_de_chuva_irregular {
    color: @sapphire;
    background: rgba(116, 199, 236, 0.2);
}

/* Overcast */
#custom-weather.encoberto {
    color: @text;
    background: rgba(108, 112, 134, 0.2);
}

/* Moderate/heavy rain with thunder */
#custom-weather.chuva_moderada_ou_forte_com_trovoada {
    color: @blue;
    background: rgba(137, 180, 250, 0.25);
}
