@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11px;
    font-weight: normal;
    min-height: 0px;
    margin: 0px 2px 0px 2px;
}

window#waybar.empty #window {
    background: @surface0;
}

tooltip {
    color: @text;
    background: @surface1;
    border-radius: 3px;
    padding: 2px 100px;
}

#tray menu {
    color: @text;
    background: @surface0;
    border-radius: 3px;
    padding: 10px 10px;
    font-size: 50px;
}

#tray menu menuitem:hover {
    background: @surface0;
    color: @red;
    border-radius: 10px;
}

/*
 *╭─────────────────────────────────────╮
 *│           COMMON CONFIGS            │
 *╰─────────────────────────────────────╯
*/
#clock,
#hardware,
#idle_inhibitor,
#network,
#temperature,
#workspaces,
#wireplumber,
#tray,
#backlight,
#taskbar,
#custom-weather,
#privacy,
#actions,
#quick-actions,
#custom-notification,
#quicklinks-left {
    border-radius: 3px;
    background: rgba(49, 50, 68, 0.6);
    padding: 0px 2px 0px 2px;
    margin: 1px 5px 0px 5px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    border-radius: 3px;
    padding: 0px 5px 0px 5px;
    margin: 1px 5px 0px 2px;
    border-radius: 4px;
}

/*
 *╭─────────────────────────────────────╮
 *│             Hover                   │
 *╰─────────────────────────────────────╯
*/
#custom-power-menu,
#idle_inhibitor,
#bluetooth,
#power-profiles-daemon,
#custom-themes,
#custom-wallpaper,
#custom-flathub,
#custom-aur {
    margin: 0px 0px;
    padding: 0px 2px;
    transition: all 0.5s ease;
}

#custom-power-menu:hover,
#idle_inhibitor:hover,
#bluetooth:hover,
#power-profiles-daemon:hover,
#custom-themes:hover,
#custom-wallpaper:hover,
#custom-flathub:hover,
#custom-aur:hover {
    color: @red;
}

#tray:hover {
    color: @red;
}

#temperature:hover,
#network:hover,
#wireplumber:hover,
#hardware:hover,
#clock:hover,
#custom-notification:hover {
    color: @red;
}

/*
 *╭─────────────────────────────────────╮
 *│             Workspaces              │
 *╰─────────────────────────────────────╯
*/
#workspaces {
    border-radius: 4px;
    padding: 0px 5px 0px 5px;
}

#workspaces button {
    color: @text;
    font-family: "JetbrainsMono Nerd Font";
    min-width: 20px;
    margin: 1px 1px 1px 1px;
    border-radius: 3px;
}
#workspaces button:hover {
    color: @red;
}

#workspaces button.visible {
    color: @subtext1;
}

#workspaces button.focused {
    background-color: @base;
}

#workspaces button.active {
    color: @base;
    background-color: @subtext1;
}

#workspaces button.urgent {
    color: @red;
}

/*
 *╭─────────────────────────────────────╮
 *│             quicklinks              │
 *╰─────────────────────────────────────╯
*/
#quicklinks-left {
    background: @surface0;
}
#quicklinks-left {
    margin-left: 2px;
}

#quicklinks-left * {
    padding: 0px 2px;
    transition: all 0.2s ease-in-out;
}

/*
 *╭─────────────────────────────────────╮
 *│                 Idle                │
 *╰─────────────────────────────────────╯
*/
#idle_inhibitor.activated {
    color: @red;
    background: none;
}

#idle_inhibitor.deactivated {
    background: none;
}

/*
 *╭─────────────────────────────────────╮
 *│               Privacy               │
 *╰─────────────────────────────────────╯
*/
#quicklinks-left *:hover {
    background: @color11;
}

#privacy-item.audio-in {
    color: @red;
}

#privacy-item.audio-out {
    color: @green;
}

#privacy-item.screenshare {
    color: @yellow;
}

/*
 *╭─────────────────────────────────────╮
 *│               taskbar               │
 *╰─────────────────────────────────────╯
*/
#taskbar {
    padding: 0px;
}
#taskbar * {
    margin: 0px 1px 0px 1px;
}
#taskbar *:hover {
    background: @surface2;
    border-radius: 3px;
    margin: 0px 1px 0px 1px;
}

#tray*:hover {
    background: @surface2;
    border-radius: 3px;
    margin: 0px 1px 0px 1px;
}

/*
 *╭─────────────────────────────────────╮
 *│            Power Bottom             │
 *╰─────────────────────────────────────╯
*/
#custom-power-menu {
    padding-right: 8px;
    padding-left: 4px;
}

/*
 *╭─────────────────────────────────────╮
 *│              Bluetooth              │
 *╰─────────────────────────────────────╯
*/
#bluetooth {
    padding-right: 6px;
    padding-left: 4px;
}

#bluetooth.connected {
    padding-right: 6px;
    padding-left: 4px;
    color: @yellow;
}

#bluetooth.disabled {
    padding-right: 6px;
    padding-left: 6px;
    color: @red;
}

/*
 *╭─────────────────────────────────────╮
 *│            Power Profile            │
 *╰─────────────────────────────────────╯
*/

#power-profiles-daemon {
    margin: 1px 0px 0px 3px;
    opacity: 0.85;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 3px;
}

#power-profiles-daemon.performance {
    padding: 1px 5px 0px 5px;
    color: @red;
    /* background: rgba(255, 0, 0, 0.15); */
}

#power-profiles-daemon.balanced {
    padding-right: 6px;
    padding-left: 4px;
    color: @blue;
    /* background: rgba(229, 230, 25, 0.15); */
}

#power-profiles-daemon.power-saver {
    padding-right: 6px;
    padding-left: 4px;
    color: @green;
}

/*
 *╭─────────────────────────────────────╮
 *│          Custom Wallpaper           │
 *╰─────────────────────────────────────╯
*/
#custom-wallpaper {
    margin: 0px 2px;
    padding: 0px; /* default padding */
    transition: all 0.2s ease;
}

#custom-aur {
    margin: 1px 2px 1px 2px;
    padding-left: 8px;
}

#custom-flathub {
    margin: 1px 2px 1px 2px;
    padding-left: 5px;
}

/*
 *╭─────────────────────────────────────╮
 *│          Theme |Light|Dark          │
 *╰─────────────────────────────────────╯
*/
#custom-themes {
    padding-right: 3px;
    padding-left: 5px;
    margin: 1px 0px 0px 5px;
}

#custom-themes.light {
    padding-right: 3px;
    padding-left: 5px;
    border-radius: 3px;
    color: @yellow;
}

#custom-themes.dark {
    color: @blue;
    padding-right: 1px;
    padding-left: 5px;
    border-radius: 3px;
}

/*
 *╭─────────────────────────────────────╮
 *│               Battery               │
 *╰─────────────────────────────────────╯
*/
#battery {
    margin: 1px 4px 0px 2px;
    padding-left: 3px;
}

#battery.good {
    color: @green;
}

#battery.warning {
    color: @yellow;
}

#battery.critical:not(.charging) {
    color: @red;
    text-shadow: 0 0 5px;
    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#battery.charging {
    color: @green;
}

@keyframes blink {
    from {
        color: @red;
    }
    to {
        color: transparent; /* Blinking effect by making the text disappear */
        margin-left: 10px;
        margin-right: 10px;
    }
}

/*
 *╭─────────────────────────────────────╮
 *│           Custom Weather            │
 *╰─────────────────────────────────────╯
*/

#custom-weather {
    border-radius: 3px;
    padding: 0px 2px 0px 4px;
    margin: 1px 2px 0px 2px;
}

#custom-weather.sol {
    color: @yellow;
}

#custom-weather.chuva {
    color: @blue;
}

#custom-weather.vento {
    color: @blue;
}

#custom-weather.vento {
    color: @blue;
}
