* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 8px;
  border-radius: 8px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button {
  color: #ffffff;
  font-family: "JetbrainsMono Nerd Font";
}
#workspaces button:hover {
  color: #000000;
}

#workspaces button.visible {
  color: #ffffff; /* Sway palette: focused/text */
}

#workspaces button.focused {
  color: #000000; /* Sway palette: focused/text */
  background-color: rgba(150, 150, 150, 0.5); /* Semi-transparent white */
}

#workspaces button.active {
  color: #ffffff; /* Sway palette: focused/text */
  background-color: rgba(150, 150, 150, 0.5); /* Semi-transparent white */
}

#workspaces button.urgent {
  color: #ff0000; /* Sway palette: urgent/text */
}

#window {
  margin-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  transition: none;
  background: transparent;
}

#custom-network {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #bd93f9;
}

/*
 *╭─────────────────────────────────────╮
 *│                Audio                │
 *╰─────────────────────────────────────╯
*/
#jack {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#privacy {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

#pulseaudio {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #1a1826;
  background: #fae3b0;
}

/*
 *╭─────────────────────────────────────╮
 *│         Power Profiles Tool         │
 *╰─────────────────────────────────────╯
*/
#power-profiles-daemon {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #b5e8e0;
}

/* 
* saver: 9adc8e
* balanced: d6c87b
* performance: c44155


*/
#power-profiles-daemon.performance {
  color: #161320;
  background: #c44155;
}

#power-profiles-daemon.balanced {
  color: #161320;
  background: #d6c87b;
}

#power-profiles-daemon.power-saver {
  color: #161320;
  background: #9adc8e;
}

/*
 *╭─────────────────────────────────────╮
 *│           Baterry status            │
 *╰─────────────────────────────────────╯
*/
#battery {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #b5e8e0;
}

#custom-battery.p {
  background-color: #e8b5bd;
}

#custom-battery.b {
  background-color: #e8e0b5;
}

#custom-battery.s {
  background-color: #b5e8e0;
}

#battery.charging,
#battery.plugged {
  color: #161320;
  background-color: #b5e8e0;
}

#battery.critical:not(.charging) {
  background-color: #b5e8e0;
  color: #161320;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}

#custom-weather {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #ddb6f2;
}

/*
 *╭─────────────────────────────────────╮
 *│               Brilho                │
 *╰─────────────────────────────────────╯
*/
#backlight {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f8bd96;
}

/*
 *╭─────────────────────────────────────╮
 *│               Relogio               │
 *╰─────────────────────────────────────╯
*/
#clock {
  margin-top: 0px;
  border-radius: 10px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  transition: none;
  color: #161320;
  background: #abe9b3;
}

#tray {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  margin-bottom: 0px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: #b5e8e0;
  background: #161320;
}

#custom-themes {
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  color: #161320;
  background: #f2cdcd;
}

#idle_inhibitor {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #bda9e8;
}

#idle_inhibitor {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #bda9e8;
}

#bluetooth {
  margin-top: 0px;
  margin-left: 8px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #bda9e8;
}

#custom-cliphist {
  margin-top: 0px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f28fad;
}

#custom-poweroff {
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #161320;
  background: #f28fad;
}

#custom-launcher {
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 8px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  color: #89dceb;
  background: #161320;
}

#custom-notification {
  margin-top: 0px;
  margin-left: 8px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 5px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: rgba(205, 205, 245, 0.5);
  color: #ffffff;
}
