//╭─────────────────────────────────────╮
//│          Input and Output           │
//╰─────────────────────────────────────╯
input {
    keyboard {
        xkb {
            layout "br"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
        disabled-on-external-mouse
    }
    tablet {
        map-to-output "eDP-1"
    }
    warp-mouse-to-focus
    focus-follows-mouse 
}

output "eDP-1" {
    scale 1
}

switch-events {
    lid-close { spawn "hyprlock";}
    // lid-open { spawn "hyprlock";}
}

//╭─────────────────────────────────────╮
//│             Environment             │
//╰─────────────────────────────────────╯
environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    MOZ_ENABLE_WAYLAND "1"
    QT_QPA_PLATFORMTHEME "qt5ct"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_DISABLE_WINDOW_DECORATION "1"
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "gnome"
    XDG_SESSION_DESKTOP "gnome"
    GTK_IM_MODULE "simple"
}


//╭─────────────────────────────────────╮
//│                Look                 │
//╰─────────────────────────────────────╯
prefer-no-csd

layout {
    center-focused-column "never"
    gaps 10
    preset-column-widths {
        proportion 0.2
        proportion 0.3
        proportion 0.5
        proportion 0.6
        proportion 0.8
        proportion 1.0
    }
    default-column-width {
        proportion 0.5 
    }
    focus-ring {
        width 5
        // active-color "#ff0000aa"
        active-gradient from="#f00f" to="#0f05" angle=23 in="oklch longer hue"
    }
    border {
        width 0
        active-color "#ffffff33"
        inactive-color "#00000000"
        urgent-color "#cc0000aa"
    }
    struts {
        left 20
        right 20
        top 0
        bottom 0
    }
}

overview {
    zoom 0.6
    backdrop-color "#3d5063ff"
    workspace-shadow {
        softness 100
        spread 2
        color "#ff000050"
    }
}

cursor {
    xcursor-theme "phinger-cursors-dark"
    xcursor-size 24
    hide-when-typing
    hide-after-inactive-ms 1000
}

hotkey-overlay {
    skip-at-startup
}

animations {
    slowdown 1.5 
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
     window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

//╭─────────────────────────────────────╮
//│               StartUp               │
//╰─────────────────────────────────────╯
spawn-at-startup "/usr/lib/xdg-desktop-portal-gnome"
spawn-at-startup "/usr/lib/xdg-desktop-portal-gtk"
spawn-at-startup "sh" "-c" "$HOME/.functions.sh startup_services"
spawn-at-startup "/usr/bin/waybar"

//╭─────────────────────────────────────╮
//│                Binds                │
//╰─────────────────────────────────────╯
binds {
    Alt+Space { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: wezterm" {
        spawn "ghostty"
    }
    Mod+D hotkey-overlay-title="Run an Application: rofi" {
        spawn "bash" "-c" "$HOME/.functions.sh launch_rofi"
    }
    Mod+V hotkey-overlay-title="Run Rofi Copy menu" {
        spawn "bash" "-c" "$HOME/.functions.sh clipboard_rofi"
    }

    // Apps
    Mod+A hotkey-overlay-title="Open Anytype" {
        spawn "anytype"
    }
    Mod+B hotkey-overlay-title="Open Zen Browser" {
        spawn "flatpak" "run" "app.zen_browser.zen"
    }
    Mod+Z hotkey-overlay-title="Open Zotero" {
        spawn "zotero"
    }
    Mod+E hotkey-overlay-title="Open Nautilus: nautilus" {
        spawn "nautilus"
    }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" {
        spawn "bash" "-c" "$HOME/.functions.sh lock_screen"
    }
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "bash" "-c" "$HOME/.functions.sh increase_volume"
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "bash" "-c" "$HOME/.functions.sh decrease_volume"
    }
    XF86AudioMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"
    }
    XF86MonBrightnessUp allow-when-locked=true {
        spawn "brightnessctl" "s" "5%+"
    }
    XF86MonBrightnessDown allow-when-locked=true {
        spawn "brightnessctl" "s" "5%-"
    }
    Mod+O repeat=false {
        toggle-overview
    }

    // window
    Alt+F4 {
        close-window
    }
    Mod+Q {
        close-window
    }
    Mod+H{
        focus-column-left
    }
    Mod+J{
        focus-window-down
    }
    Mod+K{
        focus-window-up
    }
    Mod+L{
        focus-column-right
    }
    Mod+Ctrl+H {
        move-column-left
    }
    Mod+Ctrl+J {
        move-window-down
    }
    Mod+Ctrl+K {
        move-window-up
    }
    Mod+Ctrl+L {
        move-column-right
    }


    // Workspaes
    Mod+1 {
        focus-workspace 1
    }
    Mod+2 {
        focus-workspace 2
    }
    Mod+3 {
        focus-workspace 3
    }
    Mod+4 {
        focus-workspace 4
    }
    Mod+5 {
        focus-workspace 5
    }
    Mod+6 {
        focus-workspace 6
    }
    Mod+7 {
        focus-workspace 7
    }
    Mod+8 {
        focus-workspace 8
    }
    Mod+9 {
        focus-workspace 9
    }
    Mod+0 {
        focus-workspace 10
    }

    // Workspaces move
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+Shift+6 {
        move-column-to-workspace 6
    }
    Mod+Shift+7 {
        move-column-to-workspace 7
    }
    Mod+Shift+8 {
        move-column-to-workspace 8
    }
    Mod+Shift+9 {
        move-column-to-workspace 9
    }
    Mod+Shift+0 {
        move-column-to-workspace 10
    }

    // Resize
    Mod+R {
        switch-preset-column-width
    }
    Mod+Shift+R {
        switch-preset-window-height
    }
    Mod+Ctrl+R {
        reset-window-height
    }

    // Maximize
    Mod+F {
        maximize-column
    }
    Mod+Shift+F {
        fullscreen-window
    }
    Mod+Ctrl+F {
        expand-column-to-available-width
    }

    // Center
    Mod+C {
        center-column
    }
    Mod+Ctrl+C {
        center-visible-columns
    }
    Mod+Minus {
        set-column-width "-10%"
    }
    Mod+Equal {
        set-column-width "+10%"
    }

    // Finer height adjustments when in column with other windows.
    Mod+Shift+Minus {
        set-window-height "-5%"
    }
    Mod+Shift+Equal {
        set-window-height "+5%"
    }
    Mod+Space {
        toggle-window-floating
    }
    Mod+Shift+V {
        switch-focus-between-floating-and-tiling
    }
    Mod+W {
        toggle-column-tabbed-display
    }
    Print {
        spawn "bash" "-c" "$HOME/.functions.sh screenshot"
    }
    Mod+Shift+Q {
        quit
    }
    Mod+Shift+P {
        power-off-monitors
    }
}
//╭─────────────────────────────────────╮
//│            Windows Rules            │
//╰─────────────────────────────────────╯
workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"

// Size
window-rule {
    match app-id="(^PdWindow)"
    default-column-width {
        proportion 0.4
    }
}
window-rule {
    match app-id="(^com.nextcloud.desktopclient.nextcloud)"
    match is-floating=true
}

window-rule {
    match app-id="org.gnome.texteditor"
}
window-rule {
    match app-id="(^plugdata)"
    open-floating true
}

// Position
window-rule {
    match app-id="(^qutebrowser|zen)"
    open-on-workspace "1"
    default-column-width {
        proportion 1.0
    }
}
window-rule {
    match app-id="^org\\.wezfurlong\\.wezterm$"
    open-on-workspace "2"
    open-focused true
    default-column-width {
        fixed 1700
    }
    default-window-height {
        fixed 950
    }
    open-floating true
}

window-rule {
    match app-id="(^com.mitchellh.ghostty)"
    open-on-workspace "2"
    open-focused true
    default-column-width {
        fixed 1700
    }
    default-window-height {
        fixed 950
    }
    open-floating true
}

window-rule {
    match app-id="(^org.gnome.Nautilus)"
    open-on-workspace "3"
}
window-rule {
    match app-id="(^PatchWindow|PdWindow|plugdata|MuseScore4)"
    open-on-workspace "4"
    open-focused true 
}

window-rule {
    match app-id="(^plugdata)"
    open-on-workspace "4"
    open-floating false
}

// PureData
window-rule {
    match app-id="(^PdWindow)"
    default-column-width { proportion 0.3; }
}

window-rule {
    match app-id="(^PatchWindow)"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="(^Menu)"
    clip-to-geometry true
}


// Others
window-rule {
    match app-id="(^anytype)"
    open-on-workspace "5"
    open-floating true
    default-column-width {
        fixed 1700
    }
    default-window-height {
        fixed 950
    }
}

window-rule {
    match app-id="(^org.kde.okular|evince|zathura)"
    open-on-workspace "6"
}

window-rule {
    match app-id="(^org.inkscape.Inkscape|com.github.flxzt.rnote)"
    open-on-workspace "7"
}

window-rule {
    match app-id="(^org.pulseaudio.pavucontrol)"
}

window-rule {
    match app-id="(^Charlesneimog.pdftts)"
    default-floating-position x=0 y=0 relative-to="top-left"
    open-floating true
}

window-rule {
    match title="^Picture-in-Picture$"
    open-floating true
    default-column-width { fixed 480; }
    default-window-height { fixed 270; }
    default-floating-position x=20 y=20 relative-to="top-left"
}

//╭─────────────────────────────────────╮
//│             Layer rules             │
//╰─────────────────────────────────────╯
// Put swaybg inside the overview backdrop.
layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop false
}
