[mgr]
ratio            = [ 2, 5, 3 ]
sort_by          = "mtime"
sort_reverse 	 = true
sort_dir_first   = true
sort_translit    = false
linemode         = "none"
show_hidden      = false
show_symlink     = true
scrolloff        = 5
mouse_events     = [ "click", "scroll" ]
title_format     = "Yazi: {cwd}"

[preview]
wrap            = "no"
tab_size        = 2
max_width       = 900
max_height      = 1200
cache_dir       = ""
image_delay     = 30
image_filter    = "triangle"
image_quality   = 90
sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

[opener]
rnote = [
    {run = 'flatpak run com.github.flxzt.rnote "$1"', desc = "Open in Rnote", for = "linux"},
]

musescore = [
    {run = 'mscore "$1"', desc = "Open in Musescore", for = "linux"},
]

pd = [
    {run = 'pd "$@"', desc = "Open in PureData", for = "linux"},
]

targz = [
    {run = 'tar -xvzf "$1"', desc = "Descompactar arquivos", for = "linux"},
]

video = [
    {run = 'flatpak run org.gnome.Totem "$1"', desc = "Play videos", for = "linux"},
]

code = [
    {run='nvim "$@"', block = true}
]

nvim_dir = [
    { run = 'nvim "$PWD"', block = true, desc = "Open directory in nvim" }
]

[open]
rules= [
    { url = "*.pd", use = "pd" },
    { ext = "c", use = "code", block = true },
    { ext = "cpp", use = "code", block = true },
    { ext = "py", use = "code", block = true },
    { ext = "md", use = "code", block = true },
    { ext = "toml", use = "code", block = true },
    { ext = "lua", use = "code", block = true }
]
